form {
  max-width: 700px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

mat-form-field {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
label {
  font-size: small;
}

.ng-dirty.ng-invalid, .ng-touched.ng-invalid {
  border-color: red;
  border-width: 1px;
}
.error {
  color: red;
  font-size: x-small;
}

.preview, .main {
  display: inline-block;
  vertical-align: top;
}

.preview {
  width: 200px;
  margin: 40px;
}

.main {
  margin-left: 50px;
  width: calc(100% - 340px);
  box-shadow: 10 10 10 10 rgba(0, 0, 0, 0.89);
}
.button-container {
  display: flex;
  gap: 10px;
}

.radio-approve {
  margin: 10px;
}
